/* :root{
  --bg-white:#fff;
  --color-gray:#ccc;
  --msg:#000;
} */
.BodyLinks {
  background-color: var(--bg-header);
  width: 1366px;
  height: 15vh;
}

.HeaderLinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  height: 13vh;
  align-items: center;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
}


.HeaderLinks .LogoInitial img {
  width: 35%;
  margin-left: 185px;
}

.HeaderLinks .LogoInitialVisible img {
  width: 55%;
  margin-left: -50px;
  align-items: center;
  transition: all 1.3s ease-in;
  margin-top: 15px;
}

.LinkChat {
  font-size: 19px;
  justify-content: center;
  display: none;
}

.LinkChatVisible {
  font-size: 19px;
  display: flex;
  justify-content: center;
}

.LinkChat .Link {
  margin: 0px 7px 0px 7px;
  text-decoration: none;
  color: var(--colorLinks);
  transition: all 0.2s ease-in;
  background-image: linear-gradient(90deg, rgb(41, 40, 40), var(--bg-white));
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: center bottom;
  padding: 10px;
}

.LinkChatVisible .Link {
  margin: 0px 7px 0px 7px;
  text-decoration: none;
  color: var(--colorLinks);
  transition: all 0.2s ease-in;
  background-image: linear-gradient(90deg, rgb(41, 40, 40), var(--bg-gray));
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: center bottom;
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 20px;

}


.LinkChat .Link:nth-last-child(1) {
  margin-right: -45px;
}

.LinkChatVisible .Link:nth-last-child(1) {
  margin-right: -45px;
}

.LinkChat .Link:hover {
  color: var(--bgGreen);
  background-size: 75% 3px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

.LinkChatVisible .Link:hover {
  color: var(--bgGreen);
  background-size: 75% 3px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}


.LoginUser {
  margin-bottom: 35px;
  font-family: 'Lobster', cursive;
  display: none;
}

.LoginUserVisible {
  margin-bottom: 35px;
  font-family: 'Lobster', cursive;
  display: block;
  margin-top: 25px;
}

.LoginUser .icon {
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: -45px;
  margin-top: 12px;
  float: right;
  margin-right: 145px;
  color: var(--colorLinks);
}

.LoginUser:hover .icon {
  color: var(--bgGreen);
}



.LoginUserVisible .icon {
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: -45px;
  margin-top: 12px;
  float: right;
  margin-right: 145px;
  color: var(--colorLinks);
}

.LoginUserVisible:hover .icon {
  color: var(--bgGreen);

}




.LoginUser span {
  float: right;
  margin-right: 45px;
  padding: 10px;
  width: 115px;
  align-items: center;
  text-align: end;
  margin-top: 15px;
  color: var(--colorLinks);
  border: 1px solid var(--borderColor);
  border-radius: 20px;
}

.LoginUser:hover span {
  color: var(--bgGreen);

}



.LoginUserVisible span {
  float: right;
  margin-right: 45px;
  padding: 10px;
  width: 115px;
  align-items: center;
  text-align: end;
  margin-top: 5px;
  color: var(--colorLinks);
  border: 1px solid var(--borderColor);
  border-radius: 20px;
}

.LoginUserVisible:hover span {

  color: var(--bgGreen);
}

/* thema e mudançao de cores */
:root.dark-theme {
  --bg-white: #1f212d;
  --border-color: #fff;
  --text-color: #fff;
  --text-color-white: #ffffff;
  --box-shadow: 14px 15px 15px #fff;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(to right, #434343 0%, black 100%);
  --bg-team-blue-hover: #555555;
  --bg-gray: #4D4D4D;
  --msg: #fff;
  --bg-dark: #1E1E1E;
  --bg-header: #000;
  --bgGreen: #e20000;
  --colorLinks: #fff;
  --colorIcons: #fff;
  --borderColor: #61dafb;
}

/* LIGHT MODE */
:root.light-theme {
  --bg-white: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
  --text-color: #000000;
  --text-color-white: #fff;
  --box-shadow: 14px 15px 15px black;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --bg-team-blue-hover: linear-gradient(to left, #1f46a1 0%, #12203a 100%);
  --background-color-body: rgb(203, 214, 215);
  --msg: #000;
  --bg-gray: #ccc;
  --bg-dark: #444444;
  --bg-header: #1c242c;
  --bgGreen: #00FF00;
  --colorLinks: #0b753b;
  --colorIcons: #00FF00;
  --borderColor: #fff;
}

.theme {
  --bg-white: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
  --text-color: #000000;
  --text-color-white: #fff;
  --box-shadow: 14px 15px 15px black;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --bg-team-blue-hover: linear-gradient(to left, #1f46a1 0%, #12203a 100%);
  --background-color-body: rgb(203, 214, 215);
  --msg: #000;
  --bg-gray: #ccc;
  --bg-dark: #444444;
  --bg-header: #1c242c;
  --bgGreen: #00FF00;
  --colorLinks: #0b753b;
  --colorIcons: #00FF00;
  --borderColor: #fff;
}

.light-theme {
  --bg-white: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
  --text-color: #000000;
  --text-color-white: #fff;
  --box-shadow: 14px 15px 15px black;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --bg-team-blue-hover: linear-gradient(to left, #1f46a1 0%, #12203a 100%);
  --background-color-body: rgb(203, 214, 215);
  --msg: #000;
  --bg-gray: #ccc;
  --bg-dark: #444444;
  --bg-header: #1c242c;
  --bgGreen: #00FF00;
  --colorLinks: #0b753b;
  --colorIcons: #00FF00;
  --borderColor: #fff;
}

.dark-theme {
  --bg-white: #0c0d0e;
  --border-color: #fff;
  --text-color: rgb(245, 7, 7);
  --text-color-white: rgb(245, 7, 7);
  --box-shadow: 14px 15px 15px #0f0303;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(to right, #292929 0%, black 100%);
  --bg-team-blue-hover: #ff7f7f;
  --bg-gray: #4D4D4D;
  --msg: #fff;
  --bg-dark: #1E1E1E;
  --bg-header: #000;
  --bgGreen: #e20000;
  --colorLinks: #fff;
  --colorIcons: #fff;
  --borderColor: #61dafb;
}


/* EFEITO DE OCULTO */
.oculto {
  display: none;
}