:root.dark-theme {
  --bg-white: #1f212d;
  --border-color: #fff;
  --text-color: #fff;
  --text-color-white: #ffffff;
  --box-shadow: 14px 15px 15px #fff;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(to right, #434343 0%, black 100%);
  --bg-team-blue-hover: #555555;
  --bg-gray: #4D4D4D;
  --msg: #fff;
  --bg-dark: #1E1E1E;
}
:root.light-theme {
  --bg-white: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
  --text-color: #000000;
  --text-color-white: #fff;
  --box-shadow: 14px 15px 15px black;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --bg-team-blue-hover: linear-gradient(to left, #1f46a1 0%, #12203a 100%);
  --background-color-body: rgb(203, 214, 215);
  --msg: #000;
  --bg-gray: #ccc;
  --bg-dark: #444444;
}
.theme {
  --bg-white: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
  --text-color: #000000;
  --text-color-white: #fff;
  --box-shadow: 14px 15px 15px black;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --bg-team-blue-hover: linear-gradient(to left, #1f46a1 0%, #12203a 100%);
  --background-color-body: rgb(203, 214, 215);
  --msg: #000;
  --bg-gray: #ccc;
  --bg-dark: #444444;
}
.light-theme {
  --bg-white: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
  --text-color: #000000;
  --text-color-white: #fff;
  --box-shadow: 14px 15px 15px black;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --bg-team-blue-hover: linear-gradient(to left, #1f46a1 0%, #12203a 100%);
  --background-color-body: rgb(203, 214, 215);
  --msg: #000;
  --bg-gray: #c5c5c5;
  --bg-dark: #444444;
}
.dark-theme {
  --bg-white: #0c0d0e;
  --border-color: #fff;
  --text-color: rgb(245, 7, 7);
  --text-color-white: rgb(245, 7, 7);
  --box-shadow: 14px 15px 15px #0f0303;
  --border-radius: 25px;
  --bg-team-blue: linear-gradient(to right, #292929 0%, black 100%);
  --bg-team-blue-hover: #ff7f7f;
  --bg-gray: #4D4D4D;
  --msg: #fff;
  --bg-dark: #1E1E1E;
}
* {
  margin: 0;
  padding: 0;
}
.Loading_Form {
  text-align: center;
  background-color: rgb(2, 2, 2);
  min-height: 100vh;
}
.Loading_Form img {
  width: 40%;
  margin: auto;
  border-radius: 25%;
  background-color: gray;
  animation: sumireVoltar 2s infinite;
}
@keyframes sumireVoltar {
  0% {
    padding: 100px;
  }
  50% {
    padding: 0;
  }
  100% {
    padding: 100px;
  }
}
.BodyForm {
  background-image: url(../img/robo_bom.jpg);
  background-position: -598px -15px;
  background-repeat: no-repeat;
  background-position: fixed;
  background-color: var(--background-color-body);
  height: 100vh;
}
.containerBodyNewImg {
  background-image: url(../img/robo_mal.jpg);
  background-position: -600px -15px;
  background-repeat: no-repeat;
  background-color: #220303;
  height: 100vh;
  transition: all 2.3s ease-in;
  animation-duration: 1.8s;
}
.Loading {
  background-color: #1f212d;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.Loading img {
  background-color: #1f212d;
}
.LoadingDown {
  animation: backOutUp;
  animation-duration: 2.18s;
  background-color: #1f212d;
}
.typewriter {
  overflow: hidden;
  border-right: .15em solid var(--border-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--border-color)
  }
}
.containerMaster {
  display: flex;
  width: 800px;
  margin: auto;
  margin-top: 60px;
  height: 80vh;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-image: var(--background-image);
  margin-right: 200px;
}
.login {
  width: 50%;
  height: 80vh;
  background-color: var(--bg-white);
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
}
.login h1 {
  font-size: 40px;
  margin: 25px;
  margin-bottom: 20px;
  animation: fadeInDown;
  animation-duration: 0.4s;
}
.login p {
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 10px;
  animation: fadeInDown;
  animation-duration: 0.4s;
}
input {
  margin: 15px;
  width: 320px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"] {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}
input[type="password"] {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}
input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
}
input[type="password"]:focus {
  outline: none;
  border-color: var(--primary-color);
}
.login a {
  text-decoration: none;
  font-size: 17px;
  color: var(--text-color);
  font-weight: 200;
  margin-top: 25px;
  transition: 1s;
  display: block;
}
.login a:hover {
  text-decoration: underline;
}
.login button {
  background: var(--bg-team-blue);
  color: var(--text-color-white);
  padding: 8px;
  width: 25%;
  border-radius: var(--border-radius);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
}
.login button:hover {
  cursor: pointer;
  background: var(--bg-team-blue-hover);
}
.cadastro {
  border-radius: 0PX 25px 25px 0px;
  width: 50%;
  height: 80vh;
  background: var(--bg-team-blue);
  color: var(--text-color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: opacity ease 4s;
}
.texto_invisivel {
  opacity: 0;
  transition: opacity;
}
.texto_visivel {
  opacity: 1;
}
.cadastro h2 {
  font-size: 35px;
  font-weight: bolder;
  margin: 25px;
  animation: bounce infinite;
  animation-duration: 1.8s;
  animation-delay: 5000ms;
}
.cadastro p {
  margin: 25px;
  font-size: 17px;
  /* animation: fadeInDown;
  animation-duration: 0.4s; */
}
.cadastro button {
  width: 50%;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  font-size: 17px;
  font-style: uppercase;
  color: var(--text-color-white);
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}
.cadastro button:hover {
  cursor: pointer;
  background: var(--bg-team-blue-hover);
}
.welcome_back {
  border-radius: 25PX 0px 0px 25px;
  width: 50%;
  height: 80vh;
  background: var(--bg-team-blue);
  color: var(--text-color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome_back .Back {
  margin: 15px;
  animation: fadeInUp;
  animation-duration: 0.2s;
}
.welcome_back h2 {
  font-size: 35px;
  font-weight: bolder;
  margin: 25px;
}
.welcome_back p {
  margin: 25px;
  font-size: 17px;
}
.welcome_back button {
  width: 45%;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  font-size: 17px;
  font-style: uppercase;
  color: var(--text-color-white);
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.welcome_back button:hover {
  cursor: pointer;
  background: var(--bg-team-blue-hover);
}
.welcome_back .github_icon {
  font-size: 25px;
  float: left;
  margin: auto;
}
.create_account {
  width: 50%;
  height: 80vh;
  background-color: var(--bg-white);
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0PX 25px 25px 0px;
}
.create_account h1 {
  font-size: 40px;
  margin: 25px;
  margin-bottom: 30px;
}
.create_account p {
  font-size: 15px;
  font-weight: 800;
}
.create_account p:nth-of-type(2) {
  animation: bounceInDown;
  animation-duration: 0.7s;
}
.create_account p:nth-of-type(3) {
  animation: bounceInDown;
  animation-duration: 0.7s;
}
.create_account a {
  text-decoration: none;
  font-size: 17px;
  color: var(--text-color);
  font-weight: 200;
  margin-top: 4px;
  transition: 1s;
  animation: bounceInDown;
  animation-duration: 0.8s;
}
.create_account a:hover {
  text-decoration: underline;
}
.create_account button {
  background: var(--bg-team-blue);
  color: var(--text-color-white);
  padding: 12px;
  width: 41%;
  border-radius: 25PX;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
}
.create_account button:hover {
  background: var(--bg-team-blue-hover);
  cursor: pointer;
}
.oculto {
  display: none;
}
.visivel {
  display: flex;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
.SliderRight {
  animation-name: slide_right;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-radius: 25PX 0px 0px 25px;
}
@keyframes slide_right {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}
.SliderLeft {
  animation-name: slide_left;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-radius: 0PX 25px 25px 0px;
}
@keyframes slide_left {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 50%;
  }
}
.texto_invisivel {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.texto_visivel {
  opacity: 1;
}
.links a {
  font-size: 52px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-bottom: -55px;
  margin-top: 10px;
  text-align: center;
  background-color: transparent;
  color: transparent;
}
.links a:hover {
  color: #250303;
}
.EsqueciSenha {
  width: 100%;
  height: 80vh;
  background: var(--bg-team-blue);
  color: var(--text-color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin: auto;
  text-align: center;
  clear: both;
  box-shadow: var(--box-shadow);
}
.EsqueciSenha h2 {
  animation: fadeInDown;
  animation-duration: 0.4s;
}
.EsqueciSenha .Btn_Back {
  float: left;
  width: 13%;
  font-size: 15px;
  margin-left: 55px;
  margin-bottom: -40px;
}
.EsqueciSenhaHidden {
  display: none;
}
.textArea {
  opacity: 0;
}
.FormEmail input {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #c5c5c5;
}
.FormEmail input::placeholder {
  color: white;
}
.FormEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 50%;
  margin: auto;
}
.EsqueciSenha button {
  background: var(--bg-team-blue);
  color: var(--text-color-white);
  padding: 8px;
  width: 45%;
  border-radius: var(--border-radius);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-weight: 300;
  font-size: 18px;
  margin-left: -130px;
}
.EsqueciSenha button:hover {
  cursor: pointer;
  background: var(--bg-team-blue-hover);
}
.EsqueciSenha img {
  width: 42%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 35%;
}