@media screen and (max-width: 2652px) {
  .containerMaster {
    height: 540px;
    margin-top: 180px;
  }
  .login {
    height: 540px;
  }
  .cadastro {
    height: 540px;
  }
  .welcome_back {
    height: 540px;
  }
  .create_account {
    height: 540px;
  }
  .containerMaster {
    margin-top: 115px;
    margin-right: 500px;
  }
  .BodyForm {
    background-position: -420px 30px;
  }
  .containerBodyNewImg {
    background-position: -420px 30px;
  }
  .LoginUser {
    margin-top: 55px;
    margin-right: 55px;
  }
  .aside {
    width: 35%;
  }
  .aside img {
    width: 40vh;
  }
  .chatContainer {
    width: 64%;
  }
  .EsqueciSenha button {
    margin-top: 65px;
  }
  .LoginUser {
    margin-bottom: 35px;
    font-family: 'Lobster', cursive;
    display: none;
  }
  .LoginUserVisible {
    margin-bottom: 35px;
    font-family: 'Lobster', cursive;
    display: block;
    margin-top: 45px;
  }
  .LoginUser .icon {
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: -45px;
    margin-top: 12px;
    float: right;
    margin-right: 145px;
    color: var(--colorLinks);
  }
  .LoginUser:hover .icon {
    color: var(--bgGreen);
  }
  .LoginUserVisible .icon {
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: -45px;
    margin-top: 12px;
    float: right;
    margin-right: 145px;
    color: var(--colorLinks);
  }
  .LoginUserVisible:hover .icon {
    color: var(--bgGreen);
  }
  .LoginUser span {
    float: right;
    margin-right: 45px;
    padding: 10px;
    width: 115px;
    align-items: center;
    text-align: end;
    margin-top: 15px;
    color: var(--colorLinks);
    border: 1px solid var(--borderColor);
    border-radius: 20px;
  }
  .LoginUser:hover span {
    color: var(--bgGreen);
  }
  .LoginUserVisible span {
    float: right;
    margin-right: 45px;
    padding: 10px;
    width: 115px;
    align-items: center;
    text-align: end;
    margin-top: 5px;
    color: var(--colorLinks);
    border: 1px solid var(--borderColor);
    border-radius: 20px;
  }
  .LoginUserVisible:hover span {
    color: var(--bgGreen);
  }
}
@media screen and (max-width: 1380px) {
  .containerMaster {
    width: 800px;
    margin: auto;
    margin-top: 60px;
    align-items: center;
  }
  .containerMaster {
    margin-top: 115px;
  }

  .BodyForm {
    background-position: -700px -50px;
  }

  .containerBodyNewImg {
    background-position: -620px 30px;
  }

  .EsqueciSenha {
    width: 100%;
    height: 88vh;
  }
  .aside {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 34%;
    background-color: var(--bg-black);
  }
  .aside .btn_chat {
    margin-left: 247px;
  }
}
@media screen and (max-width: 720px) {
  body.LoginUserVisible {
    margin-top: 15px;
    margin-bottom: -10px;
  }
  body .BodyForm {
    background-position: -750px 30px;
  }
  body .containerBodyNewImg {
    background-position: -12px 120px;
  }
  body .BodyForm {
    height: 100vh;
    width: 100vw;
  }
  body .containerBodyNewImg {
    height: 100vh;
    width: 112vw;
  }
  body .BodyForm .containerMaster {
    width: 720px;
    height: 100%;
    margin-left: 55px;
  }
  .containerBodyNewImg .containerMaster {
    width: 720px;
    height: 100%;
    margin-left: 55px;
  }
  .containerMaster .login {
    width: 50%;
    height: 75vh;
  }
  .containerMaster .cadastro {
    width: 50%;
    height: 75vh;
  }
  .containerMaster .welcome_back {
    width: 50%;
    height: 75vh;
  }
  .containerMaster .create_account {
    width: 50%;
    height: 75vh;
  }
  .containerMaster .create_account button {
    width: 38%;
    padding: 8px;
    margin-bottom: 20px;
  }
}